<%# edit.html.erb %>
<% content_for :title, "Éditer la création — Admin" %>
<h1 class="h3 mb-4">Éditer : <%= @visual_work.title %></h1>
<div class="row"><div class="col-lg-8">
  <%= render "form", visual_work: @visual_work %>
</div></div>
