<%# new.html.erb %>
<% content_for :title, "Nouvelle création — Admin" %>
<h1 class="h3 mb-4">Nouvelle création</h1>
<div class="row"><div class="col-lg-8">
  <%= render "form", visual_work: @visual_work %>
</div></div>
