<%# edit.html.erb %>
<% content_for :title, "Éditer la récompense — Admin" %>
<h1 class="h3 mb-4">Éditer la récompense</h1>
<div class="row"><div class="col-lg-8">
  <%= render "form", award: @award %>
</div></div>
