<%# new.html.erb %>
<% content_for :title, "Nouvelle récompense — Admin" %>
<h1 class="h3 mb-4">Nouvelle récompense</h1>
<div class="row"><div class="col-lg-8">
  <%= render "form", award: @award %>
</div></div>
